.sidebar{
 transition: var(--fast);
}
.sidebar.helper{
 background-color: var(--helper);
}
.sidebar.base{
 background-color: var(--base);
}

.sidebar .route:hover span {
 width: 100%;
}

.sidebar .route:hover,
.sidebar .route.active {
 color: var(--blue);
}