@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 /* colors */
 --base: #FFFFFF;
 --helper: #F5F5F5;
 --blue: #6698F0;
 --text: #919294;

 /* times */
 --fast: 200ms;
 --medium: 450ms;
 --slow: 850ms;
}

.quicsand-font {
 font-family: "Quicksand", sans-serif;
 font-optical-sizing: auto;

}

.playfair-font {
 font-family: "Playfair Display", serif;
 font-optical-sizing: auto;
}